* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    line-height: 1.5;
}
.inline-block {
    display: inline-block;
}
.inline {
    display: inline;
}


/* HEADER */
@media screen and (min-width: 763px){
    .mobile {
        display: none;
    }
    header .desktop {
        display: flex;
        align-items: center;
        min-height: 4rem;
        margin: 0 1.5rem;
        /* border: purple 5px solid; */
    }
    
    h1 {
        text-transform: uppercase;
    }
    h1 span {
        font-weight: normal;
        color: hsl(0, 0%, 50%);
        line-height: 2rem;
    }
    #left_head {
        flex-grow: 1; 
        line-height: 2rem;
        display: flex;
        align-items: center;
    }
    #left_head figure {
        position: relative;
        bottom: 0;
        display: flex;
        align-items: center;
    }
    
    nav li {
        list-style: none;
        padding-left: 1rem;
    }
    
    li a {
        text-decoration: none;
        color: hsl(0, 0%, 0%);
    }
}

@media screen and (max-width: 762px){
    .desktop {
        display: none;
    }

    header {
        display: flex;
        align-items: center;
        /* border: solid red 1px; */
        height: 4rem;
    }

    nav .mobile {
        display: flex;
    }
    nav ul {
        display: flex;
        justify-content: space-around;
        align-items: center;
        width: 100vw;
    }

    nav a {
        display: flex;
    }
}