* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    line-height: 1.5;
    /* font-family: 'Merriweather', serif; */
    font-family: 'Montserrat', sans-serif;
}

/* COLOR */
.nav-academy-color {
    color: hsl(276, 94%, 35%)
}
.nav-color {
    color: hsl(276, 94%, 5%);

}

.bgcolor1 {
    background-color: hsl(276, 94%, 45%);
}

.bgcolor2 {
    background-color: hsl(276, 94%, 90%);
    /* background-color: hsl(0, 0%, 85%); */
}

.bgcolor4 {
    background-color: hsl(187, 52%, 88%);
}

.bgcolor5 {
    background-color: hsl(276, 99%, 15%);
}

#section4 p, #section4 h3, #section4 h2, #section4 a {
    color: hsl(276, 94%, 88%);
}

a {
    text-decoration: none;
    color: hsl(177, 88%, 20%);
}
/* END COLOR */


.inline-block {
    display: inline-block;
}

h2{
    font-size: 2.25rem;
}

img {
    border-radius: 1px;
    display: block;
}

.text-center {
    text-align: center;
    width: 100%;
}

p, a, button {
    font-size: 1.125rem;
}

/* HEADER */
header {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 5;
}

@media screen and (min-width: 822px){
    .navmobile {
        display: none;
    }

    header .desktop {
        display: flex;
        align-items: center;
        height: 4rem;
        padding: 0 1.5rem;
    }
    
    header h2 {
        text-transform: uppercase;
        font-size: 2rem;
    }
    h2 span {
        font-weight: 500;
        line-height: 2rem;
    }
    #left_head {
        flex-grow: 1; 
        line-height: 2rem;
        display: flex;
        align-items: center;
    }
    #left_head figure {
        position: relative;
        bottom: 0;
        display: flex;
        align-items: center;
    }

    nav ul {
        display: flex;
        justify-content: flex-end;
    }
    
    nav li {
        list-style: none;
        padding-left: 1rem;
    }
    
    li a {
        text-decoration: none;
    }
    header a:hover, header a:focus, footer a:hover, footer a:focus {
        color: hsl(177, 88%, 23%);
        text-decoration: underline;
        text-underline-offset: 3.5px;
    }
}

@media screen and (max-width: 822px){
    .desktop {
        display: none;
    }
    
    header {
        position: fixed;
        top: 0;
        z-index: 5;
        display: flex;
        align-items: center;
        /* border: solid red 1px; */
        height: 4rem;
    }
    
    nav .mobile {
        display: flex;
    }
    nav ul {
        display: flex;
        justify-content: space-around;
        align-items: center;
        width: 100vw;
    }
    
    nav a {
        display: flex;
    }
}

/* MAIN AREA */
main {
    position: relative;
    top: 4rem;
    /* padding: 2rem 0; */
}
section {
    display: flex;
    flex-flow: wrap;
}

/* SECTION 1&2 */
.section_left {
    padding: 2rem 1.5rem;
    width: 60%;
}
section figure {
    width: 100%;
}
section img {
    width: 100%;
}

.shadow {
    border-radius: 5px;
    box-shadow: -2px 2px 8px hsl(308, 62%, 55%);
}

.section_right {
    width: 40%;
    padding: 2rem 0;
}


/* SECTION 1 */
#section1 {
    color: hsl(276, 94%, 95%);
}

.banner_right {
    width: 75%;
    height: 100%;
    padding: 1rem;
    display: flex;
    flex-flow: column;
    justify-content: center;
}
.banner_right h1 {
    font-size: 2.75rem;
}
.banner_right p {
    font-size: 1.75rem;
    padding: 2rem 0;
}

button {
    padding: 0.5rem;
    border-radius: 4px;
    background-color: hsl(276, 100%, 15%);
    transition: all 300ms ease-out 200ms;
    width: 90%;
}

.btn-text-color {
    color: hsl(276, 94%, 95%);
}

button:hover, button:focus {
    cursor: pointer;
    color: hsl(276, 100%, 15%);
    background-color: hsl(276, 94%, 95%);
    border-radius: 50px;
    font-weight: bold;
}
/* button:active {
    cursor: progress;
} */

/* SECTION 2 */
#section2 {
    color: hsl(276, 94%, 35%);
}

#section2 .section_left {
    border-right: grey 0.0125rem solid;
}

article {
    display: flex;
    width: 100%;
    /* height: auto; */
    border-bottom: grey 0.0125rem solid;
}
article figure{
    width: 35%;
    height: auto;
    padding: 1rem 0  1rem 1rem;

}
#section2 h2 {
    padding: 2rem 0 1.5rem;
}
#section2 .section_left p {
        max-width: 80ch;
        /* min-width: 50ch; */
}
#section2 p a {
    /* color: hsl(240, 100%, 15%); */
    color: hsl(276, 94%, 35%);
    transition: all 300ms ease-out;
}
#section2 p a:hover, #section2 p a:focus {
    color: hsl(177, 88%, 20%);
    text-decoration: underline;
    text-underline-offset: 3.5px;
}

.article_right {
    width: 65%;
    padding: 1rem;
    display: flex;
    flex-flow: column;
    justify-content: center;
}
.article_right h3 {
    padding: 0 0 0.5rem;
}

.article_right a {
    padding: 0.5rem 0 0;
}

.article_right a:hover, .article_right a:focus {
    text-decoration: underline;
    text-underline-offset: 3px;
}

/* SECTION 3 */
#section3 {
    padding: 2rem 3.5rem;
    display: block;
    color: hsl(276, 94%, 15%);
}

.flex  {
    display: flex;
    flex-flow: wrap;
    justify-content: center;
}

.shadow-3 {
    border-radius: 5px;
    box-shadow: -2px 2px 8px hsl(308, 62%, 55%);
    overflow: hidden;
    height: 100%;
}

#section3 h2 {
    padding: 0 0 1rem;
    color: hsl(276, 94%, 90%);
}

#section3 article {
    max-width: 33%;
    min-width: 14rem;
    height: auto;
    padding: 1rem;
    display: inline-flex;
    flex-flow: column;
    border: none;
}

#section3 a {
    color: hsl(276, 100%, 15%);
}
#section3 a:hover, #section3 a:focus {
    color: hsl(177, 88%, 20%);
    text-decoration: underline;
    text-underline-offset: 3.5px;
}

#section3 figure {
    padding: 0;
    width: 100%;
    height: auto;
}

#section3 img {
    border-radius: 1px;
    display: block;
}

#section3 h3 {
    padding: 1rem 0 0;
}
.courses-pad {
    padding: 0.5rem 0;
}

.topic-pad {
    padding: 0 0 1.5rem;
}

.section-3-text-container {
    height: 100%;
}

.section-3-text {
    padding: 0 1rem;
    min-height: 100%;
}

/* SECTION 4 */
#section4 {
    display: block;
}

#section4 h2 {
    padding: 2rem 0;
}
#section4 .section_left, #section4 .section_right {
    padding-top: 0;
    border: none;
}

#section4 .section_left p {
    max-width: 80ch;
    /* min-width: 50ch; */
}

video {
    width: 100%;
    /* height: auto; */
}

#video-h3 {
    padding: 1.5rem 0 0.5rem;
}

#section4 .highlight-article {
    color: hsl(276, 94%, 15%);
}

#section4 article {
    border: none;
}

/* #section4 a {
    color: hsl(240, 100%, 15%);
} */
#section4 a:hover, #section4 a:focus {
    color: hsl(177, 88%, 20%);
    text-decoration: underline;
    text-underline-offset: 3.5px;
}

/* FOOTER */
footer {
    border-top: hsl(0, 0%, 27%) 1px solid;
    position: relative;
    top: 4rem;
    min-height: 4rem;
    color: hsl(276, 94%, 5%);
}

#left-foot {
    flex-grow: 1;
    padding: 1rem 1.5rem;
}

#right-foot {
    padding: 1rem 1.5rem;
}

#right-foot a {
    padding-left: 1rem;
}

@media screen and (max-width: 826px){
    .section_left {
        padding: 0;
    }

    .section_right {
        padding: 2rem 1rem;
    }

    .section_left, .section_right {
        width: 100%;
        margin: 0 auto;
    }

    .banner_right {
        width: 100%;
        padding: 0;
        text-align: center;
        margin: 0 auto;
    }
    
    .banner_right h2 {
        font-size: 2.3rem;
    }

    .banner_right p {
        font-size: 1.5rem;
        padding: 2rem 0 1.5rem;
    }
    
button {
    width: 100%;
    margin: 0 auto;
}

    h2 {
        font-size: 1.95rem;
    }

    #section2 .section_left {
        border: none;
    }

    #section2-left-text {
        padding: 0 1rem;
    }
    
    /* #section2 .section_left p, #section4 .section_left p {
        max-width: 65ch;
        min-width: 20ch;
    } */

    #section3 article {
        max-width: 50%;
    }

    #section4-left-text {
        padding: 0 1rem 1rem;
    }
}

@media screen and (max-width: 664px) {
    footer {
        text-align: center;
    }
}

@media screen and (max-width: 576px) {
    #section3 article {
        max-width: 100%;
    }
}

@media screen and (min-width: 481px) {
    .mobile {
        display: none;
    }
}

@media screen and (max-width: 480px) {
    * {
        text-align: left;
    }

    .notmobile {
        display: none;
    }

    button {
        text-align: center;
    }
    
    /* SECTION 2 mobile */
    #section2 article {
        border: none;
        display: block;
        padding: 0 0 2rem;
    }

    #section2 figure {
        padding: 0;
        width: 100%;
        /* height: 375px;
        overflow: hidden; */
    }

    #section2-left-text {
        padding: 1rem;
    }

    #section2 .section_right {
        padding: 1rem 1rem 0;
    }

    #section2 .article_right {
        padding: 1rem 1rem 2rem;
        width: 100%;
    }

    #section2-highlight-article {
        background-color: hsl(187, 52%, 88%);
    }

    /* SECTION 3 mobile */
    #section3 {
        padding: 2rem 0 1.5rem;
    }

    #section3 article {
        padding: 0 1rem 0.5rem;
    }

    #section3 h3 {
        padding: 0;
    }
    
    .section-3-text {
        padding: 1rem 1rem 1.5rem;
    }

    .section-3-text h3 a {
        font-size: 1.6rem;
    }

    /* SECTION 4 mobile */
    #section4 {
        padding: 0 0 1.5rem;
    }
    #section4 h2 {
        padding: 2rem 0 1rem;
    }

    /* FOOTER */
    #left-foot {
        padding: 1rem auto;
    }
}