* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    line-height: 1.5;
    color: hsl(240, 100%, 15%);
    /* font-size: 1.125rem; */
}

/* COLOR */
.nav-academy-color {
    color: hsl(0, 0%, 40%);
}
.nav-color {
    /* color: hsl(0, 0%, 0%); */
    color: hsl(240, 100%, 15%);

}
.btn-text-color {
    color: hsl(36, 100%, 90%);
}

.bgcolor1 {
    background-color: hsl(240, 67%, 95%);
}

.bgcolor2 {
    background-color: hsl(35, 100%, 97%);
}

.bgcolor3 {
    background-color: hsl(187, 52%, 80%);
}

.bgcolor4 {
    background-color: hsl(187, 52%, 85%);
}

a {
    text-decoration: none;
    color: hsl(177, 88%, 23%);
}

/* footer, footer a {
    color: hsl(0, 0%, 50%);
} */
/* END COLOR */


.inline-block {
    display: inline-block;
}

h2{
    font-size: 2.25rem;
}

img {
    border-radius: 1px;
    display: block;
}

.text-center {
    text-align: center;
    width: 100%;
}

p, a, button {
    font-size: 1.125rem;
}

/* HEADER */
header {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 5;
}
@media screen and (min-width: 765px){
    .mobile {
        display: none;
    }
    header .desktop {
        display: flex;
        align-items: center;
        height: 4rem;
        padding: 0 1.5rem;
        /* border-bottom: hsl(0, 0%, 50%) 1px solid; */
        /* border: purple 0.5px solid; */
}
    
    h1 {
        text-transform: uppercase;
    }
    h1 span {
        font-weight: normal;
        line-height: 2rem;
    }
    #left_head {
        flex-grow: 1; 
        line-height: 2rem;
        display: flex;
        align-items: center;
    }
    #left_head figure {
        position: relative;
        bottom: 0;
        display: flex;
        align-items: center;
    }
    
    nav li {
        list-style: none;
        padding-left: 1rem;
    }
    
    li a {
        text-decoration: none;
    }
    header a:hover, header a:focus, footer a:hover, footer a:focus {
        color: hsl(177, 88%, 23%);
        text-decoration: underline;
        text-underline-offset: 3px;
    }
}

@media screen and (max-width: 764px){
    .desktop {
        display: none;
    }

    header {
        position: fixed;
        top: 0;
        z-index: 5;
        display: flex;
        align-items: center;
        /* border: solid red 1px; */
        height: 4rem;
    }

    nav .mobile {
        display: flex;
    }
    nav ul {
        display: flex;
        justify-content: space-around;
        align-items: center;
        width: 100vw;
    }

    nav a {
        display: flex;
    }
}

/* MAIN AREA */
main {
    position: relative;
    top: 4rem;
    /* padding: 2rem 0; */
}
section {
    display: flex;
}

/* SECTION 1&2 */
.section_left {
    padding: 2rem 1.5rem;
    width: 60%;
}
section figure {
    width: 100%;
}
section img {
    width: 100%;
}

.section_right {
    width: 40%;
    padding: 2rem 0;
}


/* SECTION 1 */
.banner_right {
    width: 75%;
    height: 100%;
    padding: 1rem;
    display: flex;
    flex-flow: column;
    justify-content: center;
}
.banner_right h2 {
    font-size: 2.75rem;
}
.banner_right p {
    font-size: 1.75rem;
    padding: 2rem 0;
}

button {
    padding: 0.5rem;
    border-radius: 4px;
    background-color: hsl(240, 100%, 25%);
    transition: all 300ms ease-out 200ms;
}
button:hover, button:focus {
    cursor: pointer;
    color: hsl(240, 100%, 15%);
    background-color: hsl(36, 100%, 90%);
    border-radius: 50px;
    font-weight: bold;
}
/* button:active {
    cursor: progress;
} */

/* SECTION 2 */
#section2 .section_left {
    border-right: grey 0.0125rem solid;
}

article {
    display: flex;
    width: 100%;
    /* height: auto; */
    border-bottom: grey 0.0125rem solid;
}
article figure{
    width: 35%;
    height: auto;
    padding: 1rem 0  1rem 1rem;

}
#section2 h2 {
    padding: 2rem 0 1.5rem;
}
.article_right {
    width: 65%;
    padding: 1rem;
    display: flex;
    flex-flow: column;
    justify-content: center;
}
.article_right h3 {
    padding: 0 0 0.5rem;
}
.article_right a {
    padding: 0.5rem 0 0;
}

.article_right a:hover, .article_right a:focus {
    text-decoration: underline;
    text-underline-offset: 2px;
}

/* SECTION 3 */
#section3 {
    padding: 2rem 3.5rem;
    display: block;
}

.flex  {
    display: flex;
    flex-flow: wrap;
    justify-content: center;
}

#section3 h2 {
    padding: 0 0 1rem;
}

#section3 article {
    max-width: 33%;
    min-width: 14rem;
    height: auto;
    padding: 1rem;
    display: inline-flex;
    flex-flow: column;
    border: none;
}

#section3 a {
    color: hsl(240, 100%, 15%);
}
#section3 a:hover, #section3 a:focus {
    color: hsl(177, 88%, 23%);
    text-decoration: underline;
    text-underline-offset: 3px;
}

#section3 figure {
    padding: 0;
    width: 100%;
    height: auto;
}

#section3 img {
    border-radius: 1px;
    display: block;
}

#section3 h3 {
    padding: 1rem 0 0;
}
.courses-pad {
    padding: 0.5rem 0;
}

.topic-pad {
    padding: 0 0 1.5rem;
}

.section-3-text-container {
    height: 100%;
}

.section-3-text {
    padding: 0 1rem;
    min-height: 100%;
}

/* SECTION 4 */
#section4 {
    display: block;
}

#section4 h2 {
    padding: 2rem 0;
}
#section4 .section_left, #section4 .section_right {
    padding-top: 0;
    border: none;
}
video {
    width: 100%;
    /* height: auto; */
}

#video-h3 {
    padding: 1.5rem 0 0.5rem;
}

/* #video-p {
    padding: 0 0 2rem;
} */

#section4 article {
    border: none;
}

/* FOOTER */
footer {
    border-top: hsl(0, 0%, 27%) 1px solid;
    position: relative;
    top: 4rem;
    height: 4rem;
}

#left-foot {
    flex-grow: 1;
    padding: 1rem 1.5rem;
}

#right-foot {
    padding: 1rem 1.5rem;
}

#right-foot a {
    padding-left: 1rem;
}